@import "_functions";
@import "_mixins";
@import "_variables";

.block-ping-pong {
  color: var(--ylb-color-dark-grey-1, darkgray);
  font-family: var(--ylb-font-family-cachet);
  font-weight: 500;
  .section-description {
    h2 {
      font-size: 48px;
      line-height: 54px;
      text-align: center;

      @include media-breakpoint-down(md) {
        font-size: 35px;
        line-height: 40px;
      }
    }
    p {
      font-size: 18px;
      text-align: center;
      line-height: 28px;
      font-family: var(--ylb-font-family-verdana);
      font-weight: 400;
    }
  }

  .ping-pong-item {
    text-align: var(--wsTextAlignment, unset);

    h3 {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 24px;

      @include media-breakpoint-down(md) {
        font-size: 35px;
        line-height: 40px;
      }
    }
    p {
      font-family: var(--ylb-font-family-verdana);
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 48px;

      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
    }

    .btn-wrapper {
      display: flex;
      gap: 20px 30px;
      justify-content: var(--wsFlexAlignment, unset);
    }

    .item-description {
      padding: 33px 15px;
      justify-content: var(--wsFlexAlignment, unset);

      @include media-breakpoint-up('md'){
        padding: 40px 80px;
      }

      .inner {
        align-items: var(--wsFlexAlignment, unset);
      }
    }

    &.background {
      background: var(--wsPrimaryColor, gray);
      color: var(--ylb-color-white, white);

      h3 {
        color: var(--ylb-color-white, white);
      }
    }
  }

  // WS Style component-level adjustments.
  // - Text / Button alignment style.
  &.ws-text-alignment--left {
    .ping-pong-item {
      text-align: left;

      .item-description {
        justify-content: flex-start;

        .inner {
          align-items: flex-start;
        }
      }
      .btn-wrapper {
        justify-content: flex-start;
      }
    }
  }

  &.ws-text-alignment--center {
    .ping-pong-item {
      text-align: center;

      .item-description {
        justify-content: center;

        .inner {
          align-items: center;
        }
      }
      .btn-wrapper {
        justify-content: center;
      }
    }
  }
}
