{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block instance with all available fields
 * - image_position: Variable with image position left or right
 * - image_uri: Internal image URI to be used with file_url filter.
 *
 * @see template_preprocess_block()
 * @see template_preprocess_block__lb_ping_pong()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-ping-pong',
] %}
{{ attach_library('lb_ping_pong/lb_ping_pong') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block block_content %}
    {% if block_content.field_title.value or block_content.field_subtitle.value %}
      <div class="row section-description">
        <div class="container">
          <div class="col-12 my-lg-5 my-3">
            <h2>{{ block_content.field_title.value }}</h2>
            <p>{{ block_content.field_subtitle.value }}</p>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row ping-pong-item no-gutters {% if image_position == 'right' %}background flex-md-row-reverse{% endif %}">
      {% include '@lb_ping_pong/block--lb-ping-pong--content.html.twig' with {
        'title': block_content.field_item_title.value,
        'description': block_content.field_item_description.value,
        'image_uri': image_uri,
        'image_alt': image_alt,
        'links': block_content.field_item_cta,
      } %}
    </div>

  {% endblock %}
</div>
