{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block instance with all available fields
 * - image_position: Variable with image position left or right
 * - image_uri: Internal image URI to be used with file_url filter.
 *
 * @see template_preprocess_block()
 * @see template_preprocess_block__lb_ping_pong()
 */
#}

{% if image_position == 'right' %}
  {% set image_class = second_column_class %}
  {% set description_class = first_column_class %}
{% endif %}

{% block content %}
  {% if image_uri
    or title
    or description
    or links is not empty %}
    {% if image_uri %}
      {% set image = file_url(image_uri|image_style('ping_pong')) %}
    {% endif %}
    <div class="item-image col-12 {{ image_class ?: first_column_class ?: 'col-lg-6' }}"
         {% if image %}style="background: url('{{ image }}') center center no-repeat; background-size: cover; min-height: 400px;"{% endif %}>
      {% if image %}
        <img src="{{ image }}" class="d-none" alt="{{ image_alt }}">
      {% else %}
        <svg class="carousel-placeholder-img d-block w-100" width="800"
             height="400" xmlns="http://www.w3.org/2000/svg" role="img"
             aria-label="Placeholder: Slide {{ loop.index }}"
             preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>{{ 'Placeholder'|t }}</title>
          <rect width="100%" height="100%" fill="#555"></rect>
        </svg>
      {% endif %}
    </div>
    <div class="item-description col-12 {{ description_class ?: second_column_class ?: 'col-lg-6' }} d-flex align-self-center">
      <div class="inner d-flex flex-column">
        {% if title %}
          <h3>{{ title }}</h3>
        {% endif %}

        {% if description %}
          {{ description|raw }}
        {% endif %}

        {% if links is not empty %}
          <div class="row btn-wrapper flex-wrap no-gutters">
            {% set numLinksIndex = links|length - 1 %}
            {% for i in 0..numLinksIndex %}
              <div class="col-auto cta-link">
                {%
                  set link_classes = [
                    'btn',
                    'btn-primary',
                    'filled',
                    loop.first ? '' : 'revert'
                  ]
                %}
                {# Links[i].url comes with any user-set attributes, which are
                    merged into `link_classes` by `link()`. #}
                {{
                  link(
                    links[i].title,
                    links[i].url,
                    create_attribute().addClass(link_classes)
                  )
                }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
